body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #7130f4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.login-page {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-grow: 1;
    padding: 20px;
}

.login-box {
    background-color: #333333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    max-width: 400px;
    width: 100%;
    text-align: center; /* Center contents inside the box */
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 500;
}

.input-container {
    margin-bottom: 20px;
    margin-right: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #555555;
    color: #ffffff;
    font-size: 1rem;
}

.login-btn {
    background-color: #7130f4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 100px;
    width: 100%;
}

.login-btn:hover {
    background-color: black;
}
.forgot-password {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    text-decoration: underline;
    
}

.forgot-password:hover {
    color: #7130f4;
}

.new-to-moby {
    margin-top: 10px;
    font-size: 0.9rem;
}

.new-to-moby a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.new-to-moby a:hover {
    text-decoration: underline;
    color: #7130f4;
}
footer {
    background-color: #7130f4;
    padding: 10px 20px;
    margin-top: auto;
}

.footer-content {
    text-align: center;
}

.footer-content p {
    margin: 5px 0;
}


