* {
    box-sizing: border-box; 
   }
   body {
     margin: 0;
     text-align: center;
     font-size: 30px;
   }
   #divid {
     display: flex;
     min-height: calc(100vh - 40vh);
   }
   #divid > main {
     flex: 1;
   }
   #divid > nav, 
   #divid > aside {
     flex: 0 0 20vw;
     background: beige;
   }
   #divid > nav {
     order: -1;
   }
   header, footer, main, nav, aside {
     padding: 1em;
   }
   .nav{
    background: rgb(12, 191, 241);
    height: 10vh;
   }
   .main{
    background: pink;
   }
   header, footer {
     background: yellowgreen;
     height: 20vh;
   }